/* .header__search-box {
  display: flex;
} */

.header__search-box__input {
  background-color: var(--brand-light-1);
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 1rem;
  outline: none;
  padding: .6rem 0 .6rem 1rem;
}

.header__search-box__submit-button {
  background-color: var(--brand-light-1);
  border: none;
  border-radius: 0 20px 20px 0;
  color: var(--brand-grey);
  padding: .6rem 1rem;
}

.header__search-box__submit-button:hover {
  background-color: var(--brand-color);
  color: var(--brand-light);
}

@media screen and (min-width: 0) {
  .header__search-box {
    display: none;
  }

  .header__show-searchbox-mobile {
    background-color: transparent;
    border: none;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .header__search-box {
    display: flex;
  }

  .header__show-searchbox-mobile {
    display: none;
  }
}