.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 115px;
}

@media screen and (min-width: 0) {
  .header__login-button {
    width: 70px;
  }
}

@media screen and (min-width: 375px) {
  .header__login-button {
    width: 100px;
  }
}

@media screen and (min-width: 425px) {
  .header__login-button {
    width: 130px;
  }
}

@media screen and (min-width: 768px) {
  .header__login-button {
    width: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .header__login-button {
    width: 180px;
  }
}