.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.login__form .form__legend {
  text-align: center;
}

.form__submit.button {
  max-width: initial;
  width: 100%;
}

@media screen and (min-width: 0) {
  .login__form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .login__form {
    width: 33.33%;
  } 
}

@media screen and (min-width: 1024px) {
  .login__form {
    width: 25%;
  }
}