.button {
  border: 1px solid var(--brand-color);
  font-size: 1rem;
  max-width: 182px;
  padding: 1rem;
  text-align: center;
  transition: .3s ease;
}

.light-button {
  background-color: var(--brand-light);
  color: var(--brand-color);
}

.light-button:hover {
  background-color: var(--brand-color);
  color: var(--brand-light);
}

.dark-button {
  background-color: var(--brand-color);
  color: var(--brand-light);  
}

.dark-button:hover {
  background-color: var(--brand-light);
  color: var(--brand-color);
}