.button {
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  max-width: 182px;
  transition: .3s ease;
}

.light-button {
  background-color: var(--brand-light);
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.light-button:hover {
  background-color: var(--brand-color);
  border: none;
  color: var(--brand-light);
}

.dark-button {
  background-color: var(--brand-color);
  border: none;
  color: var(--brand-light);
  
}

.dark-button:hover {
  background-color: var(--brand-light);
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}