.form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.form__field {
  display: block;
  position: relative;
}

.form__legend {
  font-weight: 500;
}

.form__field__label,
.form__field__input {
  display: block;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
}

.form__field__label {
  color: var(--brand-grey-1);
  font-size: 1rem;
  position: absolute;
  top: .9rem;
  left: .5rem;
  transition: all .40s ease;
}

.form__field__input.invalid ~ .form__field__label {
  color: var(--invalid);
}

.form__field__input:not(:placeholder-shown) + .form__field__label,
.form__field__input:focus + .form__field__label {
  font-size: .8rem;
  top: .3rem;
}

.form__field__input.invalid:focus + .form__field__label {
  color: var(--invalid);
}

.form__field__input {
  background-color: var(--brand-light);
  border: none;
  border-bottom: 1px solid var(--brand-grey);
  border-radius: 2px;
  padding: .8rem .5rem .2rem;
  height: 3rem;
  width: 100%;
}

.form__field__input::placeholder {
  visibility: hidden;
}

.form__field__input:focus {
  outline: none;
}


.form__field__input--textarea {
  height: 80px;
  padding-top: 1.2rem;
  resize: none;
}

.form__field__input.invalid {
  border: 1px solid var(--invalid);
}

.form__field__error {
  color: var(--invalid);
  font-size: .8rem;
  position: absolute;
  top: 1rem;
  right: .5rem;
}

.form__submit:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}