.product__list__item__icons {
  display: flex;
  gap: .5rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.product__list__item__button {
  background: var(--brand-grey-1);
  border: none;
  border-radius: 30%;
  padding: .2rem;
  transition: .5s linear;
}

.product__list__item__button:hover {
  opacity: 0.6;
}

.product__list__item__icons__delete:active,
.product__list__item__icons__edit:active {
  color: var(--brand-color);
}

.product__list__item__icons__delete,
.product__list__item__icons__edit {
  cursor: pointer;
  color: var(--brand-light);
}