.products {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-block: 3rem;
}

.product__category__header__link {
  color: var(--brand-color);
  font-weight: 500;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product__list__item {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
}

.product__list__item__img {
  height: 140px;
  width: 100%;
}

.product__list__item__price {
  font-weight: 700;
}

.product__list__item__link {
  color: var(--brand-color);
  font-weight: 500;
  width: fit-content;
}

.product__list__item__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 0) {
  .product__list__item {
    width: calc(50% - .5rem);
  }
}

@media screen and (min-width: 768px) {
  .product__list__item {
    width: calc(33.33% - .67rem);
  }
}

@media screen and (min-width: 1024px) {
  .product__list__item {
    width: calc(16.66% - .83rem);
  }
}